head
  title= 'Elevate United'

  script(src='https://use.fontawesome.com/022879ddbb.js')
  script(src='./bower_components/jquery/dist/jquery.min.js')
  link(rel='stylesheet', href='styles/main.css')
