html {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0,0,0, 0.7)), url('../img/road-trees.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@import "header";
@import "we-are";
@import "what-we-do";
@import "contact";
@import "coming-soon";
@import "icons";

$pop: #ef6611;

body {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0,0,0, 0.7)), url('../img/road-trees.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: Montserrat, sans-serif;
  font-family: 'montserratthin', sans-serif;
  font-weight: lighter;
  color: #2f333d;
}

.container {
  // width: 80%;
  // margin: 0 auto;
}

.splash {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .down {
    align-self: center;
    margin-top: 100px;
    color: #fff;
  }
}

.bottom-wrap { // must be positioned independently
  font-family: 'montserratextralight';
  width: 100%;
  background-color: #fff;
}
